.env
.venv
__pycache__/
.chainlit
.files
*.pyc
*.pyo
*.pyd
.Python
build/
dist/
*.egg-info/
.eggs/
*.log
*.sqlite3
.DS_Store
*.swp
*.swo
*.bak
*.tmp
*.orig
*.rej
*.class
*.jar
*.war
*.ear
*.iml
.idea/
*.ipynb_checkpoints